*.pyc
*.pdf
*.fits
*.npy
*.so
*.mod
*.png
.kdev4
*.kdev4
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/unidam.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/0/b/0b4883a51e6d2d315b8f9c22c7ed158fd6fdd50e
.idea/sonarlint/issuestore/0/d/0d65d7228710eefe371259d0dc2c23949d219ab7
.idea/sonarlint/issuestore/5/7/57e4863ae71b6007eb1fe4895530f41565e4fd41
.idea/sonarlint/issuestore/6/8/683c37fb33697b0a8d5d91d33d59764b476d4357
.idea/sonarlint/issuestore/7/8/78af85f87df443eebcf6b99e0c6946676a1c9ea0
.idea/sonarlint/issuestore/8/0/802f01665c6353955432cb14c89dffdf6fc47b2a
.idea/sonarlint/issuestore/b/1/b1298383dbc9e0eb08163f939b24ec86305f3ba5
.idea/sonarlint/issuestore/c/b/cb8ff6c29727f90f316558c18aee777e92fc2ef6
.idea/sonarlint/issuestore/d/9/d9d6b721daa1e6a4c9d26c2c7f5e2bfeffc71f19
.vscode/settings.json
unidam/.idea/.gitignore
unidam/.idea/misc.xml
unidam/.idea/modules.xml
unidam/.idea/pycrunch-vars-window-jetbrains.xml
unidam/.idea/unidam.iml
unidam/.idea/vcs.xml
unidam/.idea/inspectionProfiles/profiles_settings.xml
unidam/.idea/inspectionProfiles/Project_Default.xml
unidam/.idea/sonarlint/issuestore/index.pb
unidam/.idea/sonarlint/issuestore/1/4/14873fad38f0c087084340994ba408d8946dd109
unidam/.idea/sonarlint/issuestore/1/5/15537abb6f1bb2dc4b4a3ae87eed1a80dc5b397b
unidam/.idea/sonarlint/issuestore/3/3/3306e01e08c86496b0f59400582b9e87f4aa16eb
unidam/.idea/sonarlint/issuestore/3/6/36f277d1bd429caa04fb6f4162ea292b150d74c0
unidam/.idea/sonarlint/issuestore/5/6/56d26c94c9edaa6e17fbcc202d9c77c16046f6a4
unidam/.idea/sonarlint/issuestore/5/9/590df3c34956c94178696c20d0ac99268f5f0b03
unidam/.idea/sonarlint/issuestore/6/d/6d4512a16e2cc7270a69a09b9a16819605521512
unidam/.idea/sonarlint/issuestore/7/2/726052f0211be4922dbe676e7805f09d9bbc0934
unidam/.idea/sonarlint/issuestore/9/2/92ca661b3f2fb8703ec56cbfaaada2816de0f38c
unidam/.idea/sonarlint/issuestore/9/a/9a935663269b6ba7553c906b14c0cdefe3ecb5a5
unidam/.idea/sonarlint/issuestore/a/0/a07da3f3d3bf51d0ea4cd573a754f312773851c9
unidam/.idea/sonarlint/issuestore/d/7/d7c494ec02194aea1981e88afce292d6e2a8b9ec
unidam/.idea/sonarlint/issuestore/e/3/e3007a4b9e79da55262286c3286529ee269dc637
unidam/.idea/sonarlint/issuestore/e/5/e52ea897edd5f5c35baaaaefc01fc4ff41067a81
unidam/.idea/sonarlint/issuestore/f/3/f38f4dab42aa5d03c994a87475ad75405ec8dc43
unidam/.ipynb_checkpoints/CodeQuality-checkpoint.ipynb
unidam/.ipynb_checkpoints/studentst_boosted-checkpoint.py
unidam/core/.build/.build/src.linux-x86_64-3.8/model_fittermodule.o.d
unidam/core/.build/.build/src.linux-x86_64-3.8/.build/src.linux-x86_64-3.8/fortranobject.o
unidam/core/.build/.build/src.linux-x86_64-3.8/.build/src.linux-x86_64-3.8/fortranobject.o.d
unidam/core/.build/src.linux-x86_64-3.8/model_fitter-f2pywrappers2.f90
unidam/core/.build/src.linux-x86_64-3.8/model_fittermodule.c
unidam/core/.build/src.linux-x86_64-3.8/.build/src.linux-x86_64-3.8/fortranobject.c
unidam/core/.build/src.linux-x86_64-3.8/.build/src.linux-x86_64-3.8/fortranobject.h
unidam/core/.ipynb_checkpoints/Fit_test-checkpoint.ipynb
unidam/core/.ipynb_checkpoints/Refactoring_tests-checkpoint.ipynb
unidam/core/.ipynb_checkpoints/Untitled-checkpoint.ipynb
unidam/core/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
